/ala-linnaean/target/
/ala-linnaean-builder/target/
/.idea/
/ala-name-matching-2.iml
/bayesian-builder/target/
/name-matching-common-test/target/
/bayesian-core/target/
/bayesian-lucene/target/
/bayesian-maven-plugin/target/
/taxonomic-tools/target/
/ala-namematching/target/
/taxonomic-tools-builder/target/
/ala-distribution/target/
/ala-taxonomic-tools/target/
/name-matching-common-test/src/main/resources/sample-2/identifier.txt-sorted
/name-matching-common-test/src/main/resources/sample-2/rightsholder.txt-sorted
/name-matching-common-test/src/main/resources/sample-2/taxon.txt-sorted
/name-matching-common-test/src/main/resources/sample-2/taxonvariant.txt-sorted
/name-matching-common-test/src/main/resources/sample-2/vernacularname.txt-sorted
/ala-linnaean/ala-linnaean.iml
/ala-linnaean-builder/ala-linnaean-builder.iml
