/ala-linnaean/target/
/ala-linnaean-builder/target/
/.idea/
/ala-name-matching-2.iml
/bayesian-builder/target/
/name-matching-common-test/target/
/bayesian-core/target/
/bayesian-lucene/target/
/bayesian-maven-plugin/target/
/taxonomic-tools/target/